{% extends 'main/layout.html' %}

{% block title %}О капибарах — Capy Django{% endblock %}

{% block content %}
<h1>Добро пожаловать на сайт {{ caption }}</h1>
<br>
<h2>Капибара</h2>

<p>Капибара — крупнейший современный грызун, родом из Южной Америке. Обитают в зоопарках всего мира</p>
<p><strong>Описание:</strong> достигает длины до 1,3 м и массы до 65 кг, обладает короткой шерстью и тонкими, плоскими копытцами.</p>
<p><strong>Питание:</strong> вегетарианец, питается травой, водными растениями, плодами.</p>
<p><strong>Поведение:</strong> социальное животное, живёт стаями до 20 особей, отличный пловец.</p>
{% endblock %}