{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}CapyDjango{% endblock %}</title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet" crossorigin="anonymous">
</head>
<body>

  <body class="d-flex flex-column" style="min-height: 100vh;">
  {# Верхняя часть: навигация + контент #}
  <div class="d-flex flex-fill">
    {% include "main/nav.html" %}
    <main class="flex-fill p-4">
      {% block content %}{% endblock %}
    </main>
  </div>

  {# Футер «прилипнет» к низу, если контента мало #}
  {% include 'main/footer.html' %}

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
</body>
</html>
