{# zerocod/main/templates/main/nav.html #}
{% load static %}
<aside class="d-flex flex-column bg-light border-end vh-100 p-3 sidebar">
  <!-- Лого + название -->
  <div class="d-flex align-items-center mb-4">
    <img
      src="{% static 'main/img/capy.png' %}"
      alt="капибара"
      width="50"
      class="rounded-circle me-2">
    <span class="h5 mb-0">CapyDjango</span>
  </div>
  <!-- Меню -->
  <nav class="nav nav-pills flex-column">
    <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}"
       href="{% url 'main:index' %}">
      Главная
    </a>
    <a class="nav-link {% if request.resolver_match.url_name == 'new' %}active{% endif %}"
       href="{% url 'main:new' %}">
      Вторая страница
    </a>
  </nav>
</aside>
